body {
    overflow: hidden;
}

/* Region PAGE */
.page {
    display: flex;
    flex-direction: column;
    height: 100%;
}


/* Region MENU */
.menu {
    background-color: #EFEFEF;
    color: white;
    height: 60px;
    flex: 0 0 auto;

    z-index: 10;

    display: flex;
    flex-direction: row;
    align-items: center;
}
.menu .menu-items {
}
.menu .menu-items a {
    margin: 0 20px;
}

.menu .menu-items .menu-item:not(.active-menu-item) {
    color: black;
}

.menu .menu-items .menu-item.active-menu-item {
    font-weight: bold;
}


.menu .menu-logo {
    margin-right: 20px;
}
.menu .menu-logo img {
    width: 150px;
}


/* Region CONTENT */
.content {
    width: 80%;
    margin: 0 auto;
    background-color: white;
    flex: 1 1 auto;

    overflow-y: auto;

    -webkit-box-shadow: 14px 22px 37px -1px rgba(197,197,197,1);
    -moz-box-shadow: 14px 22px 37px -1px rgba(197,197,197,1);
    box-shadow: 14px 22px 37px -1px rgba(197,197,197,1);
}


/* Region FOOTER */
.footer {
    background-color: #197de1;
    color: white;
    padding: 5px 0;
    text-align: center;
    flex: 0 0 auto;

    z-index: 10;

    -webkit-box-shadow: 14px 22px 37px -1px rgba(25,125,225,1);
    -moz-box-shadow: 14px 22px 37px -1px rgba(25,125,225,1);
    box-shadow: 14px 22px 37px -1px rgba(25,125,225,1);
}


/* Region GENERAL */